*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
WeexRenderer/app/weexrender/CMakeFiles/*
*.make
app/weexrender/CMakeFiles/weexrender.dir/
app/weexrender/cmake_install.cmake
app/weexrender/CMakeCache.txt
app/weexrender/Makefile
app/weexrender/renderer/cmake_install.cmake
app/weexrender/third_party/cmake_install.cmake
app/weexrender/third_party/Makefile
app/weexrender/CMakeCache.txt
app/weexrender/renderer/Makefile
app/weexrender/third_party/cmake_install.cmake